<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Manage Server</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.home" class="active">Home</a></li>
				<li class="active">Manage</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Metrics
					<div class="pull-right"><a href="javascript:void(0)"><i class="fa fa-code" style="font-size:20px" ng-click="openModal('copyEmbed')"></i></a></div>
				</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div id="container" ng-show="serverData.seriesOptions[0].data.length"></div>
						<h2 class="text-center" ng-show="!serverData.seriesOptions[0].data.length">No Data to Display</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
			<div class="panel panel-info">
				<div class="panel-heading">Basic Control</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(1)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-refresh fa-2x"></i></h3>
									<h3 class="text-danger">Restart</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(2)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-at fa-2x"></i></h3>
									<h3 class="text-danger">Hostname</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(3)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-upload fa-2x"></i></h3>
									<h3 class="text-danger">Update</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.terminal({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-terminal fa-2x"></i></h3>
									<h3 class="text-danger">Terminal</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info" id="stackBox">
				<div class="panel-heading">Stack Installer</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-md-3">
							<a href="javascript:void(0)" ng-click="exec(5)">
								<div class="white-box">
									<img src="images/stack/lamp.png" class="stack">
									<h3 class="text-danger">LAMP</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)" ng-click="exec(6)">
								<div class="white-box">
									<img src="images/stack/mean.png" class="stack">
									<h3 class="text-danger">MEAN</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)" ng-click="exec(7)">
								<div class="white-box">
									<img src="images/stack/django.png" class="stack">
									<h3 class="text-danger">Django</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="javascript:void(0)" ng-click="exec(8)">
								<div class="white-box">
									<img src="images/stack/rails.png" class="stack">
									<h3 class="text-danger">Rails</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Advanced</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-md-3">
							<a href="javascript:void(0)" ng-click="sftp()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-cloud-upload fa-2x"></i></h3>
									<h3 class="text-danger">SFTP</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a ui-sref="dashboard.cron({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-clock-o fa-2x"></i></h3>
									<h3 class="text-danger">CRON</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a ui-sref="dashboard.startupScript({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-hourglass-start fa-2x"></i></h3>
									<h3 class="text-danger">Startup Script</h3>
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a ui-sref="dashboard.metrics({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-line-chart fa-2x"></i></h3>
									<h3 class="text-danger">Metrics</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Other</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="delServer()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
									<h3 class="text-danger">Delete</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="changeName()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-at fa-2x"></i></h3>
									<h3 class="text-danger">Name</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="openModal('viewActivity')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
									<h3 class="text-danger">Activity</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="openModal('addServer')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-file fa-2x"></i></h3>
									<h3 class="text-danger">Docs</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Server Info</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-borderless server-info">
							<tbody>
								<tr>
									<td>Name: </td>
									<td ng-bind="serverData.name"></td>
								</tr>
								<tr>
									<td>IP: </td>
									<td><a href="http://{{serverData.ip}}" target="_blank">{{serverData.ip}}<i class="fa fa-external-link m-l-5"></i></a></td>
								</tr>
								<tr>
									<td>PORT: </td>
									<td ng-bind="serverData.port"></td>
								</tr>
								<tr>
									<td>OS: </td>
									<td ng-bind="serverData.info.os"></td>
								</tr>
								<tr>
									<td>Hostname: </td>
									<td><a href="http://{{serverData.info.hname}}" target="_blank">{{serverData.info.hname}}<i class="fa fa-external-link m-l-5"></i></a></td>
								</tr>
								<tr>
									<td>Crons: </td>
									<td ng-bind="serverData.crons.length"></td>
								</tr>
								<tr>
									<td>Startup Scripts: </td>
									<td ng-bind="serverData.startupScripts.length"></td>
								</tr>
							</tbody>
						</table>
						<h5 ng-show="serverData.metrics.d">Disk<span class="pull-right">{{serverData.metrics.d}}%</span></h5>
						<div class="progress" ng-show="serverData.metrics.d">
							<div class="progress-bar progress-bar-info" aria-valuenow="{{serverData.metrics.d}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serverData.metrics.d}}%" role="progressbar"></div>
						</div>
						<h5 ng-show="serverData.metrics.m">RAM<span class="pull-right">{{serverData.metrics.m}}%</span></h5>
						<div class="progress" ng-show="serverData.metrics.m">
							<div class="progress-bar progress-bar-success" aria-valuenow="{{serverData.metrics.m}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serverData.metrics.m}}%" role="progressbar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyEmbed" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-code modal-icon"></i>
				<h2 class="modal-title">Copy Chart Embed Code</h2>
			</div>
			<div class="modal-body text-white">
				<div class="row">
					<div class="col-md-10">
						<pre class="prettyprint">{{embedCode}}</pre>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-danger btn-circle" ng-click="copySuccess()" clipboard supported="supported" text="embedCode"><i class="fa fa-clone"></i></button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="viewActivity" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-list modal-icon"></i>
				<h2 class="modal-title">Server Activity</h2>
			</div>
			<div class="modal-body text-white">
				<div class="row">
					<h2 ng-show="!serverData.logs.length">Not enough data</h2>
					<table class="table table-hover margin bottom" ng-show="serverData.logs.length">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="x in serverData.logs | itemsPerPage: pageSize" current-page="currentPage">
								<td>{{ x.no+1 }}</td>
								<td>{{ x.date | date: 'MMM d, y H:mm:ss' }}</td>
								<td>{{ x.msg }}</td>
							</tr>
						</tbody>
					</table>
					<div class="pull-right">
						<dir-pagination-controls boundary-links="true" template-url="./plugins/pagination/dirPagination.tpl.html"></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
