<section id="wrapper" class="login-register">
	<div class="login-box login-sidebar">
		<div class="white-box">
			<div class="ribbon ribbon-bookmark ribbon-vertical-l ribbon-info"><i class="fa fa-user"></i></div>
			<form name="registerForm" ng-submit="registerUser()">
				<a href="javascript:void(0)" class="text-center db"><img src="./images/eliteadmin-logo.png" alt="Home" />
					<br/><img src="./images/eliteadmin-text.png" alt="Home" /></a>
				<h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
				<div class="form-group m-t-20">
					<label>Email address: *</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
						<input type="email" class="form-control" ng-model="user.email" placeholder="Enter email" required>
					</div>
				</div>
				<div class="form-group">
					<label>Password: *</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-lock"></i></div>
						<input type="password" class="form-control" ng-model="user.pass1" placeholder="Enter password" required ng-minlength="8">
					</div>
					<span class="help-block"> Atleast 8 length </span>
				</div>
				<div class="form-group">
					<label>Confirm Password: *</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-lock"></i></div>
						<input type="password" class="form-control" ng-model="user.pass2" placeholder="Retype password" required ng-minlength="8">
					</div>
				</div>
				<div class="form-group text-center m-t-20">
					<div class="col-xs-12">
						<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" type="submit" ng-disabled="registerForm.$invalid">Register</button>
					</div>
				</div>
				<div class="form-group m-b-0">
					<div class="col-sm-12 text-center">
						<p>Already have an account? <a href="#!/login" class="text-error m-l-5"><b>Login</b></a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
